/* Reset */
html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
   /* border: 1px solid rgba(0, 0, 0, 0.212); */
}
*, *:before, *:after {
    box-sizing: inherit;
    text-decoration: none;
}

/* General */
body {
    padding: 20px;
}

/* Header */
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#main-text {
    font-size: 27px;
}
#sub-text {
    font-size: 17px;
}

/* Switch */
.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.switch img {
    width: 40px;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.tabs {
   display: flex;
   flex-direction: row;
   gap: 10px;
}
.tab-content {
    border: 1px solid black;
    width: 550px;
    height: 300px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 5px;
}

/* Counter tab content */ 
.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

#result {
    font-size: 20px;
    margin-top: 30px;
}